@use "../abstracts/colors" as a;

a {
  text-decoration: none;
  cursor: pointer;
  color: a.$secondary-color;
}

li {
  list-style-type: none;
}

input {
  outline: transparent;
  border: none;
}

button {
  border: none;
  outline: transparent;
}

section {
  padding: 8rem 0;
}
