$primary-font-family: "Poppins", san-serif;
$secondary-font-family: " Abhaya Libre", san-serif;
$font-size-xs: 0.75rem; //12px
$font-size-sm: 0.875rem; //14px
$font-size-md: 1rem; //16px
$font-size-lg: 1.25rem; //20px
$font-size-2xl: 1.5rem; //24px
$font-size-2xxl: 1.75rem; //28px
$font-size-3xl: 2.4375rem; //39px
$font-size-4xl: 3.875rem; //62px
$font-size-7xl: 6rem; //80px
$font-size-12xl: 11.375rem; //182px

$line-height: 2.125rem; //34px
