$primary-color: #ea0025;
$secondary-color: #2a333e;
$secondary-text-color: #6a4219;
$button-text-color: #f9f9f9;
$background-color: #fff;
$secondary-background-color: #ffdad7;
$tertiary-background-color: #fcc7c3;
