@use "../abstracts/colors" as a;
@use "../base/typography" as t;
.container {
  max-width: 90rem;
  margin: 0 auto;
  background-color: a.$background-color;
  color: a.$secondary-color;
  font-family: t.$primary-font-family;
}
