@use "../base/typography" as t;
@use "../abstracts/colors" as c;

header {
  height: 100vh;
}

.hero {
  display: flex;
  height: 100%;
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
  }

  &__image {
    width: 70%;
    position: relative;

    .chicken-kebab {
      position: absolute;
      right: 0;
      bottom: 10%;
      width: 150%;
    }

    %position {
      position: absolute;
      z-index: 10;
    }

    .mint-leaf-1 {
      @extend %position;
      top: 10%;
      left: 35%;
    }
    .mint-leaf-2 {
      @extend %position;
      bottom: 32%;
      right: 15%;
    }
    .mint-leaf-3 {
      @extend %position;
      bottom: 20%;
      left: 0;
    }
    .mint-leaf-4 {
      @extend %position;
      bottom: 3%;
      left: 30%;
    }
    .mint-leaf-5 {
      @extend %position;
      bottom: 15%;
      right: -6%;
    }
    .mint-leaf-6 {
      @extend %position;
      top: 15%;
      right: 4%;
    }
  }
}

.text {
  &__para {
    font-size: t.$font-size-md;
    color: c.$primary-color;
  }

  &__heading {
    display: flex;
    font-size: t.$font-size-7xl;
    color: c.$primary-color;
    font-family: t.$secondary-font-family;
    letter-spacing: -14.56px;

    p {
      color: c.$secondary-text-color;
      rotate: 270deg;
      margin-left: 20px;
      font-weight: 700;
      line-height: 100px;
      letter-spacing: -3.12px;

      opacity: 0.1;
    }
  }

  &__paragraph {
    font-size: t.$font-size-lg;
    max-width: 476px;
    line-height: t.$line-height;
    margin-bottom: 100px;
  }

  &__time-description {
    display: flex;
    gap: 7rem;

    .meal {
      font-weight: 700;
      font-size: t.$font-size-2xxl;
      line-height: t.$line-height;
    }

    .time {
      font-weight: 500;
      font-size: t.$font-size-lg;
      line-height: t.$line-height;
      opacity: 0.5;
    }
  }
}
