@use "../base/typography" as t;
@use "../abstracts/colors" as c;

header {
  min-height: 100vh;
  padding-inline: 2rem;
  margin-bottom: 10rem;

  @media screen and (max-width: 650px) {
    margin-bottom: 5em;
  }
}

.hero {
  display: flex;
  min-height: 100%;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    gap: 5rem;
  }

  &__text {
    position: relative;
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    z-index: 10;

    @media screen and (max-width: 1200px) {
      width: 80%;
      margin-inline: auto;
      text-align: center;
      z-index: 1;
    }

    .text__price {
      position: absolute;
      top: 13%;
      right: -17rem;
      color: c.$secondary-text-color;
      rotate: 270deg;
      font-size: clamp(2rem, 5vw, 5rem);
      font-weight: 700;
      line-height: 100px;
      letter-spacing: -3.12px;
      opacity: 0.1;

      @media screen and (max-width: 1200px) {
        position: relative;
        rotate: 0deg;
        font-size: clamp(3rem, 7vw, 6rem);
        left: 0;
        margin-block: -1rem;
        padding-bottom: 0.5em;
      }
    }
  }

  &__image {
    width: 70%;
    position: relative;

    @media screen and (max-width: 1200px) {
      width: 100%;
    }

    img {
      max-width: 100%;
      display: block;
    }

    .kebab_image {
      position: absolute;
      right: 18%;
      top: -21%;
      width: 100%;

      @media screen and (max-width: 1200px) {
        position: relative;
      }
      @media screen and (max-width: 850px) {
        width: 110%;
      }
      @media screen and (max-width: 650px) {
        width: 125%;
        right: 30%;
      }
    }

    .mint-leaf-1 {
      position: absolute;
      top: 20%;
      left: 55%;
    }
    .mint-leaf-2 {
      position: absolute;
      bottom: 20%;
      right: 5%;
    }
    .mint-leaf-3 {
      position: absolute;
      bottom: 21%;
      left: 21%;
    }
    .mint-leaf-4 {
      position: absolute;
      bottom: -8%;
      left: 50%;
    }
    .mint-leaf-5 {
      position: absolute;
      bottom: -7%;
      right: -7%;
    }
    .mint-leaf-6 {
      position: absolute;
      top: 25%;
      right: 3%;
    }

    @media screen and (max-width: 600px) {
      .chicken-kebab {
        width: 135%;
        right: 40%;

        & ~ img {
          display: none;
        }
      }
    }
  }
}

.text {
  &__para {
    font-size: clamp(1rem, 1vw, 8rem);
    color: c.$primary-color;
  }

  &__heading {
    color: c.$primary-color;
    font-family: t.$secondary-font-family;
    font-size: clamp(6rem, 18vw, 12rem);
    letter-spacing: -14.56px;
    text-align: center;

    @media screen and (max-width: 800px) {
      letter-spacing: -7.56px;
    }
  }

  &__paragraph {
    font-size: clamp(1rem, 1.1vw, t.$font-size-lg);
    max-width: 476px;
    line-height: t.$line-height;
    padding-bottom: clamp(2rem, 8vw, 8rem);

    @media screen and (max-width: 1200px) {
      margin-inline: auto;
      font-size: clamp(1rem, 1.7vw, 1.25rem);
      padding-bottom: 0;
      margin-bottom: 6rem;
    }
  }

  &__time-description {
    display: flex;
    gap: 7rem;

    @media screen and (max-width: 1200px) {
      justify-content: space-around;
      gap: 0;
    }

    @media screen and (max-width: 450px) {
      flex-direction: column;
      gap: 2rem;
    }

    .meal {
      font-weight: 700;
      font-size: t.$font-size-2xxl;
      line-height: t.$line-height;
    }

    .time {
      font-weight: 500;
      font-size: t.$font-size-lg;
      line-height: t.$line-height;
      opacity: 0.5;
    }
  }
}
