@use "../base/typography" as t;
@use "../abstracts/colors" as c;
@use "../abstracts/mixins" as m;

.online_store {
  position: relative;

  &__heading {
    text-align: center;
    font-size: t.$font-size-lg;
    font-weight: 700;
    letter-spacing: 0.4px;
  }

  &__subheading {
    text-align: center;
    font-family: t.$secondary-font-family;
    font-size: t.$font-size-7xl;
    font-weight: 800;
    color: c.$primary-color;
    letter-spacing: -6.4px;
    line-height: t.$line-height-lg;
    position: relative;

    img {
      width: 15.4375rem;
      position: absolute;
      left: 35%;
      bottom: -30%;
    }
  }

  &__dishes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 8rem;
    img {
      max-width: 18rem;
    }
    .online_store__dish {
      display: flex;
      flex-direction: column;
      align-items: center;

      .rating {
        width: 8rem;
      }

      .dish__info {
        margin-top: -3.75rem;

        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;

        .dish__style {
          font-size: t.$font-size-md;
        }

        .dish__product {
          font-size: t.$font-size-2xxl;
          font-weight: 700;
        }
      }
    }
  }

  &__leaf {
    position: absolute;
    top: 21%;
    left: -8%;
  }
}

.delivery_items {
  display: flex;
  justify-content: center;
}

.delivery_items__info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;
  background-color: c.$secondary-background-color;
  padding: 5rem 4rem;
  position: relative;
  width: 70rem;
  border-radius: 40px;

  img {
    max-width: 100%;
  }

  .info {
    &__leaf {
      position: absolute;
      top: -5%;
      rotate: 177deg;
      right: 31%;
      z-index: 10;
    }

    &__bread {
      position: absolute;
      z-index: 10;
      left: -12%;
      bottom: 10%;
    }

    &__text {
      display: flex;
      align-items: center;
      line-height: 20px;
      padding-left: 2rem;
      border-radius: 40px;
      border: 2px solid c.$tertiary-background-color;
      background-color: c.$tertiary-background-color;
      max-width: max-content;
    }

    &__cup {
      position: absolute;
      z-index: 10;
      right: -15%;
      bottom: -40%;
      width: 35rem;
      height: 35rem;
    }

    &__beans {
      position: absolute;
      mix-blend-mode: multiply;
      bottom: 21%;
      right: 15%;
      rotate: 60deg;
    }

    &__heading {
      color: c.$primary-color;
      font-family: t.$secondary-font-family;
      font-size: t.$font-size-7xl;
      letter-spacing: -2.8px;
      line-height: 85px;
      font-weight: 800;
      max-width: 700px;
    }

    &__para {
      max-width: 500px;
      font-size: t.$font-size-lg;
      line-height: t.$line-height;
    }

    &__btn {
      background-color: c.$secondary-color;
      max-width: max-content;
      color: c.$button-text-color;
      padding: 1rem 0 1rem 2rem;
      border-radius: 10px;
      margin-top: 1rem;
      z-index: 10;
      position: relative;

      &:after {
        background-color: c.$secondary-color;
        border-radius: 10px;
        width: 4rem;
        height: 100%;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: -36px;
        transform: skewX(-14deg);
        z-index: -1;
      }
    }
  }
}

.popular_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  // height: 1400px;
  position: relative;

  .menu__image {
    width: 70%;
  }

  &__title {
    font-size: t.$font-size-lg;
  }

  &__text {
    text-align: center;
    font-size: t.$font-size-7xl;
    font-family: t.$secondary-font-family;
    max-width: 800px;
    letter-spacing: -6.4px;
    font-weight: 800;
    line-height: 100px;
    color: c.$primary-color;
  }

  &__menu {
    @include m.menu-container;
  }

  .dishim__menu {
    @include m.menu-container;
    .dishim-menu__detail {
      display: flex;
      justify-content: center;
      margin-bottom: 78px;
      #menu__image {
        width: 48%;
      }
    }
  }

  .menu__detail {
    display: flex;
    justify-content: center;
  }

  .menu__info {
    margin-top: -50px;

    .menu__text {
      line-height: t.$line-height-sm;
      margin: 1rem 0 2rem 0;
      letter-spacing: -0.16px;
    }

    .menu__price {
      font-size: t.$font-size-lg;
      font-weight: 500;
    }
  }

  .mint-leaf-1 {
    position: absolute;
    top: 5%;
    left: 0;
  }

  .mint-leaf-2 {
    position: absolute;
    top: 55%;
    right: 7%;
  }
}

.app {
  display: flex;
  justify-content: center;
}

.app__container {
  display: flex;
  gap: 14rem;
  width: 80%;
}

.mobile_app {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 632px;
  width: 360px;
  border: 2px solid red;
  padding: 1.2rem;
  border-radius: 45px;
  box-shadow: 10px 15px 58px 0px rgba(0, 0, 0, 0.11);

  &__icons {
    display: flex;
    justify-content: space-between;

    .cart-logo {
      margin-right: -22px;
    }
  }

  img {
    max-width: 150px;
  }
}

.product {
  position: relative;
  &__image {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 150px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 8px 8px 50px 0px rgba(234, 0, 37, 0.17);
    padding: 0.9rem;
    margin-top: 4rem;

    .product__title {
      font-size: t.$font-size-sm;
      font-weight: 500;
    }

    .product__rating {
      margin-left: -3.3rem;
      height: 10px;
    }
  }

  &__pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    height: 14px;

    .pricing {
      font-weight: 500;
    }

    img {
      margin-top: 6px;
    }
  }

  &__rating {
    margin-left: -2px;
    height: 15px;
  }
}

.sawaiyani__info {
  h3 {
    font-size: t.$font-size-lg;
    font-weight: 500;
  }
  p {
    font-weight: 500;
    font-size: t.$font-size-sm;
    margin-top: 1rem;
  }
}

.mobile_app_footer {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  background-color: c.$secondary-background-color;
  border-radius: 35px;
  padding: 1rem;

  img {
    height: 1rem;
  }
}

.footer__left_icons,
.footer__right_icons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.icon {
  font-size: t.$font-size-xs;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.app__information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  .information__subheading {
    font-size: t.$font-size-lg;
    font-weight: 700;
    letter-spacing: -0.8px;
  }

  .information__heading {
    font-family: t.$secondary-font-family;
    font-size: t.$font-size-4xl;
    color: c.$primary-color;
    letter-spacing: -4.96px;
    line-height: 60px;
    margin-bottom: 1rem;
  }

  .information__text {
    font-size: t.$font-size-lg;
    width: 481px;
    margin-bottom: 3rem;
  }

  .information__store_btns {
    display: flex;
    gap: 4rem;
  }
}

.mobile_app__leaf {
  position: absolute;
  bottom: -3%;
  left: -10%;
  rotate: 7deg;

  .mint-leaf-small {
    rotate: 13deg;
  }
}
