@use "../base/typography" as t;
@use "../abstracts/colors" as c;

.online_store {
  position: relative;
  padding: 4rem 2rem;

  @media screen and (max-width: 425px) {
    padding: 1rem;
  }

  &__heading {
    text-align: center;
    font-size: t.$font-size-lg;
    font-weight: 700;
    letter-spacing: 0.4px;
  }

  &__subheading {
    text-align: center;
    font-family: t.$secondary-font-family;
    font-size: t.$font-size-7xl;
    font-weight: 800;
    color: c.$primary-color;
    letter-spacing: -6.4px;
    line-height: t.$line-height-xlg;
    position: relative;

    @media screen and (width <= 830px) {
      font-size: t.$font-size-4xl;
      letter-spacing: -3.4px;
      line-height: t.$line-height-lg;
    }

    img {
      width: 15.4375rem;
      position: absolute;
      left: 35%;
      bottom: -30%;

      @media screen and (max-width: 830px) {
        bottom: -60%;
      }
      @media screen and (max-width: 480px) {
        left: 25%;
        bottom: -40%;
        width: 12.5rem;
      }
    }
  }

  &__dishes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 8rem;
    img {
      max-width: 18rem;
    }
    .online_store__dish {
      display: flex;
      flex-direction: column;
      align-items: center;

      .rating {
        width: 8rem;
      }
    }
  }
  &__leaf {
    position: absolute;
    top: 21%;
    left: -8%;

    @media screen and (max-width: 500px) {
      left: -21%;
    }
  }
}
.dish__info {
  margin-top: -3.75rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  .dish__style {
    font-size: t.$font-size-md;
  }

  .dish__product {
    font-size: t.$font-size-2xxl;
    font-weight: 700;
  }
}

.delivery_items {
  display: flex;
  justify-content: center;
}

.delivery_items__info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;
  background-color: c.$secondary-background-color;
  padding: 4rem;
  position: relative;
  width: 70rem;
  border-radius: 40px;

  @media screen and (max-width: 1200px) {
    width: 80%;
  }

  @media screen and (max-width: 500px) {
    width: 90%;
    padding: 3rem 2rem;
  }

  img {
    max-width: 100%;
  }
}
.info {
  &__leaf {
    position: absolute;
    top: -5%;
    rotate: 177deg;
    right: 31%;
    z-index: 10;
  }

  &__bread {
    position: absolute;
    left: -5%;
    bottom: 30%;
    width: 10rem;
    height: 10rem;
  }

  &__text {
    display: flex;
    align-items: center;
    line-height: 20px;
    padding-left: 2rem;
    border-radius: 40px;
    border: 2px solid c.$tertiary-background-color;
    background-color: c.$tertiary-background-color;
    max-width: max-content;

    @media screen and (max-width: 450px) {
      display: none;
    }
  }

  &__cup {
    position: absolute;
    right: -3%;
    bottom: -22%;
    width: 34rem;
    height: 26.5rem;

    @media screen and (max-width: 1200px) {
      right: -3%;
      bottom: -18%;
      width: 26rem;
      height: 17.5rem;
    }
  }

  &__beans {
    position: absolute;
    mix-blend-mode: multiply;
    bottom: 20%;
    right: 30%;
    rotate: 60deg;

    @media screen and (max-width: 1200px) {
      bottom: 9%;
      right: 15%;
    }
  }

  &__heading {
    color: c.$primary-color;
    font-family: t.$secondary-font-family;
    font-size: clamp(3.7rem, 7vw, t.$font-size-7xl);
    letter-spacing: -2.8px;
    line-height: 85px;
    font-weight: 800;
    max-width: 700px;
  }

  &__para {
    max-width: 500px;
    font-size: t.$font-size-lg;
    line-height: t.$line-height;
  }
}

.popular_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media screen and (max-width: 500px) {
    padding-block: 4rem;
  }

  .menu__image {
    width: 70%;
  }

  &__title {
    font-size: t.$font-size-lg;
    text-align: center;
    width: 80%;
  }

  &__text {
    text-align: center;
    font-size: t.$font-size-7xl;
    font-family: t.$secondary-font-family;
    max-width: 800px;
    letter-spacing: -6.4px;
    font-weight: 800;
    line-height: 100px;
    color: c.$primary-color;

    @media screen and (max-width: 830px) {
      font-size: t.$font-size-4xl;
      letter-spacing: -3.2px;
      padding-inline: 1rem;
      line-height: 70px;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    border: 1.2px solid #efefef;
    background: #fff;
    padding: 2rem;

    @media screen and (max-width: 945px) {
      padding: 2rem 0;
    }
  }

  .menu__detail {
    display: flex;
    justify-content: center;
  }

  .menu__info {
    margin-top: -50px;
    font-size: clamp(1rem, 2.3vw, 1.25rem);

    @media screen and (max-width: 945px) {
      text-align: center;
    }

    .menu__text {
      line-height: t.$line-height-sm;
      margin: 1rem 0 2rem 0;
      letter-spacing: -0.16px;

      @media screen and (max-width: 945px) {
        width: 80%;
        margin-inline: auto;
      }
    }

    .menu__price {
      font-size: t.$font-size-lg;
      font-weight: 500;
    }
  }

  .mint-leaf-1 {
    position: absolute;
    top: 5%;
    left: 0;

    @media screen and (max-width: 850px) {
      display: none;
    }
  }

  .mint-leaf-2 {
    position: absolute;
    top: 55%;
    right: 7%;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.app {
  display: flex;
  justify-content: center;

  background-color: c.$secondary-background-color-light;
}

.app__container {
  display: flex;
  justify-content: center;
  gap: 14rem;
  width: 80%;

  @media screen and (max-width: 1200px) {
    flex-wrap: wrap;
  }
}

.mobile_app {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 632px;
  width: 360px;
  background-color: c.$background-color;
  padding: 1.2rem;
  border-radius: 45px;
  box-shadow: 10px 15px 58px 0px rgba(0, 0, 0, 0.11);

  @media screen and (max-width: 425px) {
    padding: 0.75rem;
  }

  &__icons {
    display: flex;
    justify-content: space-between;

    .cart-logo {
      margin-right: -22px;
    }
  }

  img {
    max-width: 150px;
  }
}

.product {
  position: relative;
  &__image {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 150px;
    border-radius: 8px;
    background: c.$background-color;
    box-shadow: 8px 8px 50px 0px rgba(234, 0, 37, 0.17);
    padding: 0.9rem;
    margin-top: 4rem;

    .product__title {
      font-size: t.$font-size-sm;
      font-weight: 500;
    }

    .product__rating {
      margin-left: -3.3rem;
      height: 10px;
    }
  }

  &__pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    height: 14px;

    .pricing {
      font-weight: 500;
    }

    img {
      margin-top: 6px;
    }
  }

  &__rating {
    margin-left: -2px;
    height: 15px;
  }
}

.sawaiyani__info {
  h3 {
    font-size: t.$font-size-lg;
    font-weight: 500;
  }
  p {
    font-weight: 500;
    font-size: t.$font-size-sm;
    margin-top: 1rem;
  }
}

.mobile_app_footer {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  background-color: c.$secondary-background-color;
  border-radius: 35px;
  padding: 0.7rem;

  img {
    height: 1rem;
  }
}

.footer__left_icons,
.footer__right_icons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.icon {
  font-size: t.$font-size-xs;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.app__information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  @media screen and (max-width: 425px) {
    padding-left: 0.2rem;
  }

  .information__subheading {
    font-size: t.$font-size-lg;
    font-weight: 700;
    letter-spacing: -0.8px;
  }

  .information__heading {
    font-family: t.$secondary-font-family;
    font-size: t.$font-size-4xl;
    color: c.$primary-color;
    letter-spacing: -4.96px;
    line-height: 60px;
    margin-bottom: 1rem;
  }

  .information__text {
    font-size: t.$font-size-lg;
    width: 481px;
    margin-bottom: 3rem;

    @media screen and (max-width: 500px) {
      width: 80%;
    }
  }

  .information__store_btns {
    display: flex;
    gap: 4rem;

    @media screen and (max-width: 500px) {
      gap: 1rem;
    }
  }
}

.mobile_app__leaf {
  position: absolute;
  bottom: -3%;
  left: -10%;
  rotate: 7deg;

  .mint-leaf-small {
    rotate: 13deg;
  }
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: t.$font-size-lg;
    font-weight: 700;
    letter-spacing: 0.4px;
    margin-bottom: 2rem;
  }

  &__subtitle {
    position: relative;
    font-family: t.$secondary-font-family;
    font-size: t.$font-size-4xl;
    font-weight: 800;
    text-align: center;
    color: c.$primary-color;
    line-height: t.$line-height-lg;
    letter-spacing: -4.96px;

    @media screen and (max-width: 600px) {
      width: 80%;
      font-size: 3.3rem;
    }
    .subtitle {
      margin-bottom: -10px;
    }

    & > img {
      margin-left: 19rem;

      @media screen and (max-width: 600px) {
        margin-left: 0;
      }
    }
  }
}
.testimonials__container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: t.$font-size-md;
  padding-bottom: 1em;
}

.testimonial__wrapper {
  display: flex;
  gap: 12rem;
  margin-block: 8rem;

  @media screen and (max-width: 1200px) {
    width: 90%;
    flex-direction: column;
    gap: 6rem;
  }

  @media screen and (max-width: 600px) {
    margin-block: 4rem;
  }
}

.testimonial {
  flex: 1;
  display: flex;
  align-items: flex-start;
  gap: 2rem;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}
.testimonial__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: t.$line-height-sm;

  .info__name {
    font-weight: 500;
  }

  .info__rating {
    height: 15px;
    width: max-content;
  }
}
.info__review {
  line-height: 24px;

  .text--bold {
    font-weight: 800;
    color: c.$primary-color;
  }
}

.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55.5rem;
  border: 2px solid c.$primary-color;
  border-radius: 47px;
  padding: 2rem 4rem;
  background-color: c.$background-color;

  .title {
    font-size: t.$font-size-lg;
    text-align: center;

    & + img {
      margin-left: 9rem;
      width: 7.625rem;
    }
  }

  &__text {
    font-size: t.$font-size-xs;
    font-weight: 600;
    line-height: t.$line-height-sm;
    text-align: center;
    width: 15.25rem;
    margin: 0.5rem 0 1.5rem 0;
  }
}

@media screen and (max-width: 1000px) {
  .delivery_items__info {
    .info__heading {
      line-height: 68px;
    }

    .info__cup {
      right: -8%;
    }
  }

  .subscription {
    width: 80%;
  }
}

@media screen and (max-width: 920px) {
  .delivery_items__info {
    .info__beans,
    .info__cup,
    .info__bread {
      display: none;
    }
  }
}
